<!-- include header -->
<%-include("include/_header")%>
<!-- include header -->

 <!-- main site -->
 <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-angle-double-left"></i>All patients</a>
           </div>
        </div>
        
        <div class="form-title">
              <h1 id="reg">Update Patient's information</h1>  
        </div>

        <!-- Update patient information  form -->
        <!-- form handling -->
        
<form method="POST" id="update_user">
    <div class="new_user">

      <div class="form-group">
        <label for="Aadhar" class="font">Aadhar Number</label>
        <input type="text" name="aadhar" value="<%= user.aadhar %>">
      </div>

      <div class="form-group">
        <label for="name" class="font">Patient's Name</label>
        <input type="hidden" name="id" value="<%= user._id %>">
        <input type="text" name="name" value="<%= user.name %>">
      </div>

      <div class="form-group">
        <label for="test" class="font">RT PCR Test Status</label>
        <div class="radio inline"> 
          <input type="radio" id="radio-7" name="test" value="Positive" <%= user.test == 'Positive' ? 'checked' : '' %>>
          <label for="radio-7" class="radio-label">Positive</label>
        </div>
        <div class="radio inline">
          <input type="radio" id="radio-8" name="test" value="Negative" <%= user.test == 'Negative' ? 'checked' : '' %>>
          <label for="radio-8" class="radio-label">Negative</label>
        </div>
        </div>

        <div class="form-group">
          <label for="hospital" class="font">Hospital</label>
          <input type="text" name="hospital" list="hospitalName"  autocomplete="off">
          <!-- <input type="text" name="hospital" list="hospitalName" value="<%= user.hospital %>"> -->
          <datalist id="hospitalName" value="<%= user.hospital %>">
            <option value="Victoria Hospital" "<%= user.hospital %>">
            <option value="M S Ramaiah Hospital" "<%= user.hospital %>">
            <option value="Bowring Hospital" "<%= user.hospital %>">
            <option value="Commando Hospital" "<%= user.hospital %>">
            <option value="Manipal Hospital" "<%= user.hospital %>"> 
            </datalist>
        </div>

        <div class="form-group">
          <button type="submit" class="btn text-dark update">Update</button>
        </div>

    </div>
  </form>
        
    </div>
</main>
<!-- main site -->

<!-- include footer -->
<%-include('include/_footer')%>
<!-- include footer -->